@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Light.woff2') format('woff2'),
        url('FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

