.showCode {
    position: relative;
    cursor: pointer;
    .container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: none;
        &_active{
            display: block;
        }
    }
}